* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: antiquewhite;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #dda15e;
}

h2 {
    color: #19346b;
}

figcaption {
    color: #4681f4;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 1.7%;
    width: 100%;
    overflow: hidden;
    background-color: #000814;
    border-bottom: 1px solid black;

    /* Navbar */
    .navbar {
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        text-transform: capitalize;

        a {
            cursor: pointer;
            font-family: "Source Sans 3", sans-serif;
            font-weight: 600;
            font-size: 18px;
            text-decoration: none;
            transition: text-decoration 0.7s, color 0.6s ease-out;
        }

        a:hover {
            color: rgb(172, 152, 125);
            text-decoration: underline;
        }
    }

    /* Form field */
    form {
        display: flex;
        flex-direction: row;
        width: 20%;
        background-color: rgb(255, 255, 255);
        padding: 0.1%;
        border-radius: 1rem;
        border: 2px solid rgba(255, 255, 255, 0.25);

        input {
            background-color: white;
            color: rgb(55, 66, 79);
            border: none;
        }

        input[type="button"] {
            text-transform: capitalize;
            width: 15%;
            background-color: #4681f4;
            margin-left: 0.4rem;
            border-radius: 4px;
            color: white;
            transition: background-color 0.7s ease-out;
        }

        input:hover[type="button"] {
            cursor: pointer;
            background-color: #19346b;
        }

        /* Search */
        input[type="search"] {
            cursor: pointer;
            width: 60%;
            margin-left: 0.4rem;
            padding: 1%;
        }

        input:focus[type="search"] {
            border: none;
            outline: none;
        }
    }
}

/*  MAIN */
.main {
    height: 100vh;
    background-image: url(../public/corsica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: overlay;
    overflow-y: auto;
    padding: 5% 2%;

    .container {
        display: flex;
        flex-direction: row;

        /* recommandation-card */
        .recommendation {
            color: #19346b;
            figure {
                background-color: aliceblue;
                border-radius: 1rem;
                padding: 0.3rem;
                margin-bottom: 2rem;
            }
        }
    }

    article {
        width: 45%;

        p {
            color: #dda15e;
        }
    }

    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .contact-form {
        display: inline-grid;
        gap: 2rem;
        width: 50%;
        padding: 1rem;
        border-radius: 1rem;
        background-color: rgb(118 98 116 / 70%);

        input {
            height: 2rem;
            border-radius: 0.2rem none;
            padding-left: 1rem;
            color: black;
        }
    }
}
